spring:
  application:
    name: nacos-auth
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
management:
  security:
    enabled: false
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 10010
  servlet:
    context-path: /oauth-server