server:
  port: 12010
spring:
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        namespace: 40cc1790-abfa-411a-94bc-59817ed256c4
        group: TEST_GROUP
  application:
    name: cloud-order
  datasource:
    url: jdbc:mysql://localhost:3306/cloud_order?useUnicode=true&useSSL=false&serverTimezone=Asia/Shanghai&autoReconnect=true&characterEncoding=utf8
    username: root
    password: sunshine

mybatis:
  mapper-locations: classpath:/mappers/*Mapper.xml
  typeAliasesPackage: org.example.dao.domain
  configuration:
    map-underscore-to-camel-case: true
